.OrderDetails {
  width: 35%;
  margin-top: 20px;
  padding: 20px;
  background: #ddd;
  border: 2px solid #000;
  border-radius: 10px;
  position: relative;
}

.OrderDetails .Title {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  background: #ddd;
  border: 2px solid #000;
  border-radius: 15px;
  position: absolute;
  left: 15px;
  top: -16px;
}

.OrderDetails .Total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}