.OrderItem {
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.TitleOfOrder {
  font-weight: bold;
}


.ValueOfOrder {
  margin-left: 10px;
  float: right;
}

.PriceOfOrder {
  margin-left: 10px;
  float: right;
}

.RemoveOfOrder {
  font-size: 30px;
  color: red;
  margin-left: 10px;
  float: right;
}