.Drink {
  height: 80px;
  margin-top: 10px;
  padding: 10px;
  background: sandybrown;
  border: 2px solid #000;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
}

.Drink:active {
  background: chocolate;
}

.IconOfGood {
  line-height: 60px;
  font-size: 50px;
  float: left;
  margin-right: 20px;
}

.TitleOfGood {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.PriceOfGood {
  margin-top: 10px;
  font-size: 16px;
}