.AddItems {
  width: 60%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  background: #ddd;
  border: 2px solid #000;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.AddItems .Title {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  background: #ddd;
  border: 2px solid #000;
  border-radius: 15px;
  position: absolute;
  left: 15px;
  top: -16px;
}

.AddItems .FoodItems,
.AddItems .DrinkItems {
  width: 48%;
}